# Agenda

* Single And Multiple line comments
* Variable Assign
* Python number and go To check data type
* To convert data type
* Strings

# Python Comments

In [2]:
print("Hello, World!") #see the output

Hello, World!

In [4]:
#This is comment
#written in
#more than just one line
print("Hello,Digambar")  #fggggf
#single line comment

Hello,Digambar

In [6]:
"""
This is comment
written in
more than just one line
Multiline comment
"""
print("Hello,World")

Hello,World

# Variable Assign

In [8]:
x=5 #number
y="John" #String variable can be declared either
#by using single or double quotes:
print(y)

John

In [9]:
y

'John'

In [10]:
x

5

In [11]:
x=3

In [12]:
x

3

In [24]:
print(x)

3

In [25]:
x="John"
x='abc'
print(x)

abc

In [28]:
[1,2,3,4]

[1, 2, 3, 4]

In [29]:
x=[21,22,23,24]

In [30]:
x

[21, 22, 23, 24]

In [32]:
print(x)

[21, 22, 23, 24]

# Assign Value to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [15]:
x,y,z = "Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [18]:
x,y,z

('Orange', 'Banana', 'Cherry')

# Python Numbers

There are three numeric
* int
* float
* complex

In [20]:
x=10
y=2.8
z=1j

In [11]:
y,x,z

(2.8, 10, 1j)

# To check data type

In [21]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int

Int, or integer, is a whole number, positiveor negatiove, without decimal,of unlimited learning.

In [13]:
x=1
y=7057404230
z =-32

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float

In [16]:
x=1.10
y=1.0
z=-35.23

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Float can also be scientific numbers with an "e" to indicate 10.

In [22]:
x=35e1
y=35e-1
z=12e4

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

350.0
3.5
120000.0
<class 'float'>
<class 'float'>
<class 'float'>

# Complex

Complex number are written with a"j" as the imaginary part:

In [18]:
x=3+5j
y=5j
z=-5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

You can convert from one type to another with the int(),float() and complex() method

In [19]:
x=1     #Int to float
print(type(x))
a=float(x)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
1.0

In [17]:
x=10.3 # Float to int
print(type(x))
a=int(x) 
print(type(a))
print(a)

<class 'float'>
<class 'int'>
10

In [35]:
a="Hello"
a

'Hello'

* String are Array
* Get the character at position 1 (remember that the first character as the )

In [37]:
a = "Hello, World!"
print(a[5])

,

In [38]:
b="Hello"
print(b[0:4])

Hell

* The len() method returns the length of string

In [39]:
a="Digambar"
len(a)

8

* The lower method returns the String in lower case

In [42]:
a="Hellow World!"
print(a.lower())

hellow world!

* The upper method returns the string in upper case

In [1]:
a="Hellow, World!"
print(a.upper())

HELLOW, WORLD!

* The replace() method returns the string in upper case

In [44]:
a="Hello World!"
print(a.replace("H","J"))

Jello World!

# Command-line String Input

In [2]:
x=input()
print("Hello",x)

Digu
Hello Digu